
h1 {
  position: relative;
  #border-bottom: solid 2px #c0d3ec;
  line-height: 1.4;
  padding: 0.1em 0.2em;
  margin: 2em 0 0.5em;
}



h3 {
  position: relative;
  padding: 0.4em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(104,129,140), transparent);
  background: linear-gradient(to right, rgb(174,199,210), transparent);
}



h4 {
  position: relative;
  padding: 0.3em 0.6em;
  background: -webkit-linear-gradient(to right, rgb(174,199,210), transparent);
  background: linear-gradient(to right, rgb(174,199,210), transparent);
}

h5 {
  position: relative;
  padding: 0.2em 0.8em;
  background: -webkit-linear-gradient(to right, rgb(174,199,210), transparent);
  background: linear-gradient(to right, rgb(174,199,210), transparent);
}

body {
 position: relative;
 margin: 0;
 padding: 0;
}

.slogan-div {
  position: fixed;
  right: 218px; /* Add margin on the right */
  top: 62px; /* Add margin on the bottom */
  width: 318px; /* Limit the width to 318px */
  height: auto; /* Adjust height automatically */
  background-size: cover; /* Or use 'auto' depending on your preference */
  background-repeat: no-repeat;
  z-index: 999; /* Ensure it's in front */
            
}

 @media (max-width: 1280px) {
     .slogan-div {
         display: none !important; 
     }
 }