/*

h1 {
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(192, 211,236), transparent);
  background: linear-gradient(to right, rgb(192, 211,236), transparent);
  

}

h1::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}


h1 {
  position: relative;
  color: #6eb0f9;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}


*/


h1 {
  position: relative;
  #border-bottom: solid 2px #c0d3ec;
  line-height: 1.4;
  padding: 0.1em 0.2em;
  margin: 2em 0 0.5em;
}



h3 {
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(202, 221,246), transparent);
  background: linear-gradient(to right, rgb(202, 221,246), transparent);
}